<style>

.nav-link{

    color: rgb(51, 11, 196);
    font-family: arial;  
   

}

</style>




<nav class="navbar navbar-expand-lg navbar-white bg-white">

  <a class="navbar-brand pull-left"><img src = "/frontend/assets/img/logo3.png" width="30px" height="30px" alt="">
  </a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ml-auto">

           <% if(!user)  %>
        <li class="nav-item">
          <a class="nav-link" href="/login/logout">Sair</a>
        </li>
     

    </ul>
  </div>
</nav>