<%- include('includes/head') %> 

   <div.class="container">
     <div class="row">
       <div.class="col-lg-2"></div>

       <div.class="col-lg-8">
         
         <p class="text-center lead"><%= user.email %> You have been disconnected.</p>


       </div>

       <div.class="col-lg-2"></div>
     </div>
    </div> 
<% include('includes/footer') %>